# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [25]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [11]:
pokemon.shape

(800, 13)

In [4]:
# Your code here:

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:

leg = pokemon[pokemon.Legendary == True]
leg.count()

#             65
Name          65
Type 1        65
Type 2        40
Total         65
HP            65
Attack        65
Defense       65
Sp. Atk       65
Sp. Def       65
Speed         65
Generation    65
Legendary     65
dtype: int64

In [19]:
non_leg = pokemon[pokemon.Legendary == False]
non_leg.count()

#             735
Name          735
Type 1        735
Type 2        374
Total         735
HP            735
Attack        735
Defense       735
Sp. Atk       735
Sp. Def       735
Speed         735
Generation    735
Legendary     735
dtype: int64

In [ ]:
#Hay 65 pokemons legendarios versus 735 no legendarios

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
#Inspeccionamos un segundo los puntos totales de los pokemons legendarios:

leg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [22]:
#La media y la desviación estándar de los puntos totales de los pokemons legendarios:

mean_leg, std_leg = round(leg.Total.mean()), round(leg.Total.std())
mean_leg, std_leg

(637, 61)

In [23]:
#La media y la desviación estándar de los puntos totales de los pokemons no legendarios:

mean_non_leg, std_non_leg = round(non_leg.Total.mean()), round(non_leg.Total.std())
mean_non_leg, std_non_leg

(417, 107)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [34]:
#Yo hubiera hecho esto, pero al darme el p_value 1 he sospechado... 

score, p_value = stats.ttest_ind(non_leg.Total, non_leg.Total, equal_var=False)
p_value

1.0

In [29]:
#y he visto que Lola había hecho esto y le daba un resultado diferente

a = pokemon[pokemon['Legendary']==False]['Total']
b = pokemon[pokemon['Legendary']==True]['Total']

score, p_value = stats.ttest_ind(a, b, equal_var=False)
p_value

9.357954335957446e-47

In [35]:
#es rarísimo por que compruebo que su "a" y mi non_leg.Total da el mismo resultaod...

non_leg.Total

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [36]:
a

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

What do you conclude from this test? Write your conclusions below.

In [6]:
#El pvalue es menor 0.05, por lo que hay una diferencia significante entre ambas medias

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
#Miramos cuántos pokemons hay dentro de los diferentes valores de Type 1

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [39]:
#La media de puntos totales de los pokemon de agua

water = pokemon[pokemon['Type 1'] == "Water"]
water.mean()

#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64

In [43]:
#La desviación estándar de puntos totales de los pokemon de agua

water.std()

#             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64

In [44]:
#La media y la desviación estándar de los puntos totales de los pokemon que no son de agua

display(pokemon[pokemon['Type 1']!='Water']['Total'].describe()[['mean', 'std']])

mean    435.859012
std     121.091682
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [45]:
agua = pokemon[pokemon['Type 1']=='Water']['Total']
no_agua = pokemon[pokemon['Type 1']!='Water']['Total']

# Hacemos el test con las mismas varianzas
score, p_value = stats.ttest_ind(agua, no_agua)
p_value

0.6587140317488793

Write your conclusion below.

In [10]:
# El pvalue es mayor de 0.05, así que sus medias no son significativamente diferentes
#Esto asumientdo que la varianza de los de agua y los de no agua son la misma

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [46]:
score, p_value = stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])
p_value

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [12]:
#El pvalue es menor de 0.05, así que rechazamos la hipótesis nula: hay una diferencia significativa entre el ataque y la defensa

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
score, p_value = stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
p_value

0.3933685997548122

Describe the results of the test in the cell below.

In [14]:
# el pvalue es mayor de 0.05, así que no podemos rechazar la hipótesis nula - no hay una gran diferencia entre ambos

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [48]:
#Aquí usamos el ttest 1 sample para ver cúanto cambia del ttest rel
    
score, p_value = stats.ttest_1samp(pokemon['Sp. Def'] - pokemon['Sp. Atk'], 0)
p_value

0.3933685997548122

In [ ]:
#de todas maneras, estamos trabajando con muestras mayores de 30, así que no entiendo muy bien por qué estamos trabajando con ttest...

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: