# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind_from_stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon.Legendary.value_counts()
#There are 65 legendary pokemons and 735 non legendary

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

#Retrieving the mean and standard deviation from non legendary pokemons
mean_nl = pokemon.loc[pokemon['Legendary']== False, ['Legendary', 'Total']].Total.mean()
std_nl = pokemon.loc[pokemon['Legendary']== False, ['Legendary', 'Total']].Total.std()
print('The mean of a non legendary pokemon is', mean_nl, 'and the deviation standard is', std_nl)
#Retrieving the mean and standard deviation from legendary pokemons
mean_l = pokemon.loc[pokemon['Legendary']== True, ['Legendary', 'Total']].Total.mean()
std_l = pokemon.loc[pokemon['Legendary']== True, ['Legendary', 'Total']].Total.std()
print('The mean of a legendary pokemon is', mean_l, 'and the deviation standard is', std_l)

The mean of a non legendary pokemon is 417.21360544217686 and the deviation standard is 106.76041745713005
The mean of a legendary pokemon is 637.3846153846154 and the deviation standard is 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:

#the lenght of the sample is :

sample_lenght =len(pokemon.Legendary)
ttest_ind_from_stats(mean1=mean_nl, std1=std_nl, nobs1=len(pokemon.loc[pokemon['Legendary']== False]),
                     mean2=mean_l, std2=std_l, nobs2=len(pokemon.loc[pokemon['Legendary']== True]),
                     equal_var = False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957715e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

#We can reject the null hypothesis since the p_value is much bigger than 0.05, therefore there is a significance between Pokemons lengendary and non legendary

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

mean_water = pokemon.loc[pokemon['Type 1']== 'Water', ['Type 1', 'Total']].Total.mean()
std_water = pokemon.loc[pokemon['Type 1'] == 'Water', ['Type 1', 'Total']].Total.std()

mean_gen = pokemon.loc[pokemon['Type 1']!= 'Water', ['Type 1', 'Total']].Total.mean()
std_gen = pokemon.loc[pokemon['Type 1'] != 'Water', ['Type 1', 'Total']].Total.std()

print('The mean of water pokemon is', mean_water, 'and the deviation standard is', std_water)
print('The mean of a non water pokemon is', mean_gen, 'and the deviation standard is', std_gen)

The mean of water pokemon is 430.45535714285717 and the deviation standard is 113.1882660643146
The mean of a non water pokemon is 435.85901162790697 and the deviation standard is 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:

water = pokemon[pokemon['Type 1']=='Water']['Total']
general = pokemon[pokemon['Type 1']!='Water']['Total']

# test with same variances
score, p_value = stats.ttest_ind(water, general)
p_value

0.6587140317488793

Write your conclusion below.

In [12]:
# Your conclusions here:

"""Since the p-value is much more smaller than the 0,05 stablished, we can not reject the null hypothesis, therefore
water pokemons don't have a significance difference with the rest of the pokemons. """

"Since the p-value is much more smaller than the 0,05 stablished, we can not reject the null hypothesis, therefore\nwater pokemons don't have a significance difference with the rest of the pokemons. "

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [16]:
import scipy

In [19]:
# Your code here:
a = pokemon.Attack
b = pokemon.Defense
statistics, p_value = scipy.stats.ttest_rel(a, b)

p_value

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

"""The H0 is that the defense and attack scores are equal
The H1 is that they aren't.
Since the P_value is smaller than 0.05, we can reject the null hypothesis and say that there is a signficance 
diference between both variables"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [21]:
# Your code here:

a = pokemon['Sp. Atk']
b = pokemon['Sp. Def']

statistics, p_value = scipy.stats.ttest_rel(a, b)

p_value

0.3933685997548122

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

"""In this case, it happens the opposite, so we can conclude that there is no significance difference 
between the mean of a and b and therefore, the values are equal."""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [24]:
# Your code here:

score, p_value1 = stats.ttest_1samp(pokemon['Sp. Def'] - pokemon['Sp. Atk'], 0)

if p_value1 == p_value:
    print("Both tests are the same")
else:
    print("error")

Both tests are the same

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: